# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Dependencies
# vendor/

# Sensitive Files
.env
tls-master/
tls-file-store/

# Project-Specific

# Legacy / old code
old_code/
onboaring/

# GNS3 specific
*.gns3project
/gns3util

# API / test files
api.json
test_class.json

# Scripts
scripts/test.yml

# Documentation
docs/

# Temporary / Cache / unrelated
tmp/
*.etcd

# GitHub Actions / CI
.github/event.json
.actrc
