# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/
gns3util
master
file-store

# Test binary, built with `go test -c`
*.test
cover.cov

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Dependencies
# vendor/

# Sensitive Files
.env
tls-master/
tls-file-store/

# Project-Specific

# Legacy / old code
old_code/
onboarding/

# GNS3 specific
*.gns3project
gns3util

# API / test files
api.json
test_class.json

# Scripts
scripts/test.yml

# Documentation
docs/

# Temporary / Cache / unrelated
tmp/
*.etcd
data/

# GitHub Actions / CI
.github/event.json
.actrc
documentation/cli/
documentation/openapi.json
